# project files
coverage/
.eslintcache
.stylelintcache

docs/_build
docs/api
**/docs/source/_build

junit.xml

tests/**/coverage
tests/**/.cache-loader

package_json.tar.gz

# javascript/typescript
lib
node_modules

*.tsbuildinfo
lerna-debug.log
yarn-error.log

# python
.cache
*.py[co]
.pytest_cache
__pycache__
*.egg-info
.ipynb_checkpoints
pip-wheel-metadata
Pipfile
Pipfile.lock

build
dist

MANIFEST

# misc
*~
*.bak
*.map
*.swp
.DS_Store
.log/
\#*#
.#*

*.swp
*.map

coverage/
tests/**/coverage
tests/**/.cache-loader
docs/_build
docs/api
docs/source/_build
packages/services/examples/node/config.json
examples/app/build
examples/app/themes
examples/app/schemas
iframe_figures/

lerna-debug.log
yarn-error.log

# copied changelog file
docs/source/getting_started/changelog.md

junit.xml

*.tsbuildinfo

# jetbrains IDE stuff
*.iml
.idea/

# ms IDE stuff
*.code-workspace
.history
.vscode/settings.json

.jupyter_releaser_checkout
